

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




body {
    
    font-family: arial;
}
h5 {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin: -3px;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: -25px;
    text-transform: initial;
    color: #F9B23D;
    
}
.fa-chevron-left{
    color: #724C21;
    ;

}

.player {
    width: 133px;
    height:10px;
    position: absolute;
    font-family: sans-serif;
    color: #000;
    margin-left: 210px;
    margin-top: 63px;
    font-weight: bold;
}
.com {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 210px;


}
.card{
    border-radius: 7%;
    width: 23px;
    margin-right: 330px;
    height: 25px;
    margin-top: -17px;
}

.container {
    width: 600px;
    margin: auto;
    padding: 20px;
    position: relative;
}

.area-komputer {
    width: 540px;
    height: 560px;
    margin-left: 167px;
    margin-right: 448px;
    margin-top: 14px;
    background:#9C835F ;
    position: relative;
    padding-top: 80px;
    padding-left: 130px;
    box-sizing: border-box;
    border-radius: 0px;
}

.area-player {
    width: 385px;
    height: 544px;
    margin-top: -560px;
    margin-left: -150px;
    margin-right: 0px;
    padding-top: 16px;
    background: #9C835F;
    position: relative;
    border-radius: 0px;
}

.info {
    position: absolute;
    width: 129px;
    height: 70px;
    left: 260px;
    top: 245px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 106px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(312deg);
    background: #167437;
}


ul {
    padding-top: 80px;
    padding-left: 25px;
}

li {
    display: inline-block;
    margin: 0 18px;
}

img {
    width: 98px;
    height: 44px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.batu {
    transition: .3s;
    position: relative;
    top: 39px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 10px;
}
.gunting {
    transition: .3s;
    position: relative;
    top:240px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 10px;
}
.kertas{
    transition: .3s;
    position: relative;
    top: 65px;
    cursor: pointer;
    margin-top: -5px;
    margin-left: 150px;
    margin-right: 10px;
}
.refresh{
    transition: .3s;
    position: relative;
    top: 65px;
    cursor: pointer;
    margin-top: -278px;
    margin-left: 250px;
    margin-right: 13px;
    width: 47px;
    height: 43px;
}

.batu:hover, .gunting:hover, .kertas:hover,.refresh:hover, .active {
    box-shadow: 5px 5px 5px 5px rgb(238, 241, 238);
}

.batu:active, .gunting:active, .kertas:active, .refresh:active {
    top: 2px;
}
