*{
	 
	padding: 0;
	box-sizing: border-box;
	color: rgb(247, 243, 243);
	margin:0 0rem;
    font-size: 1.5 rem;
}

.container{
	height: 113%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 39px;
}
.container1{
	
	display: contents;
	font-size: 39px;
	margin: auto;	
}
.container2{
	display: grid;
	padding: 116px 89px 0px 490px;
}
.container3{
	display: grid;
	font-size: 29px;
	padding: 2px 51px 0px 497px;
	font-family: sans-serif;
}
.container4{
	color: yellow;
	padding: 34px 100px 46px 850px;
	margin: 10px 10px 19px 10px;
}
.container5{
	padding:60px 166px 0px 294px;
	font-size: 14px;
	justify-content: left;
	display: inherit;
}
.container7{
	padding: 2px 776px 7px 79px;
	font-size: 56px;
	display: block;
	justify-content: left;
	text-align: left;	
}

.container8{
	border-style: hidden;
	padding: 134px 700px 8px 80px;
	opacity: 0.97;
	color: #FF8C00;
}
.container9{
	margin-right: 96px;
	margin-left: 100px;
	text-align: justify;
	width: 391px;
	font-family: sans-serif;
}
.container10{
	width: 80px;
	padding: 10px 10px 10px 10px;
	
}
.card-body{
	padding: 7px 29px 21px 145px;
	width: 10px;
	height: 10px;
}
.col-mr-2{
	padding: 0px 48px 0px 254px;
	width: 750px;
	height: 10px;
	background-image: url(E:\p\rahman\img\evan-lahti.jpg);
}

.active{
	color: #fff;
}

.P1{
	color: #FF8C00;
}

.content2{
	justify-content: left;
	align-items: left;
	padding: 1px;
	height: 0px;
	width: 0px;
	max-width: 10%;	
	
}
.container-content2{
	margin: 0px;
	font-size: 28px;
	height: 667px;    
    justify-items: center;
	transform: 10px
	
}
.container-content3{
	margin: 117px;
	font-size: 8px;
	height: 10px;    
    justify-items: center;
	transform: 10px
	
}


.navigation-manual{
	position: absolute;
	width: 631px;
	margin-top: -23px;
	display: flex;
	justify-content: center;
}
.manual-btn{
	border: 2px solid;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
	margin-right: 30px;
}




.col-lg-scroll{
	justify-content: flex-end;
	align-items: baseline;
	height: 10px;
}
.simbol {
	font-size: 10px;
}

.header {
	
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
	background-color: rgba(59, 57, 45, 0.801);
	position: fixed;
	text-align: center;
	font-family: serif;
	
}
.navbar {
	color: var(--color-white);
	font-size: 20px;
	display: flex;
	font-family: serif;
	
}
.navbar span{
	color: var(--color-primary);
}
.navbar span ul {
	list-style: none;
	display: flex;
}
.navbar span ul li{
	padding: 10px;
}
.navbar a{
    margin:0 1rem;
    font-size: 2.0 rem;
    color:rgb(248, 244, 244);
}
.banner {
	background-image: url(img/banner.jpg);
}
.banner2{
	background-image:  url(img/banner2.jpg);
}

.banner3{
	background-image:  url(img/features.jpg);
	background-size: 100%;
}
.banner4{
	background-image:  url(img/banner4.png);
	background-size: 100%;
}
.banner5{
	background-image: url(img/banner5.png);
} 
.home-banner2-content2 {
	height: 100%;
	width: -1px;
	display: grid;
	justify-content: left;
	align-items: left;
}

.home-banner3{
	margin-top: 1px;
	width: 10px;
}





.home {
	height: 110vh;
	text-align: center;
}

.btn {
	color: #000;
	background-color: yellow;
	padding: 10px;
	margin-top: 10px;
	font-size: 14px;
}
.header-description{
	margin-top: 20px;
	margin-bottom: 27px;
}
.box1 {
	float: left;
	width:auto;
	font-size: 25px;
}
.box2 {
	float: right;
	width:0px;
}
.box3 {
	font-size: 33px;
	font-family: sans-serif;
}
.svg1 {
	float: left;
	position: absolute;
	margin-left: -30px;
	margin-top: 130px;
}
.svg2 {
	float: right;
	position: absolute;
	margin-top: 130px;
	margin-left: 620px;
}
.img1 {
	width:600px;
}
.slider {
	width: 5px;
	display: flex;
	position: relative;
	justify-content: left;


}
.layout {
	margin-top: 215px;
	margin-left: 100px;
}
.margin1 {
	margin-right: 96px;
	margin-left: 100px;
	margin-top: -30px;
	width: 228px;
	font-family: sans-serif;
}
.margin2 {
	margin: 10px;
}

.fa-fa-chevron-right {
	float: left;
	width:500px;
	font-size: 25px;
}

.pb-2, .py-2{
    padding-bottom:.5rem!important;
}
.h-100{
    height: 150px!important;
}
.shadow{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#2e2d2d;
    background-clip:border-box;
    border: 1px solid #2e2d2d;
    border-radius: 0.35rem;
	width: 350px;
	left: 800px;
	margin-top: 100px;
}
.card2{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#2e2d2d;
    background-clip:border-box;
    border: 1px solid #2e2d2d;
    border-radius: 0.35rem;
	width: 350px;
	left: 950px;
	margin-top: 25px;
	margin-bottom: 20px;
}
.card3{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#2e2d2d;
    background-clip:border-box;
    border: 1px solid #2e2d2d;
    border-radius: 0.35rem;
	width: 350px;
	left: 760px;
	margin-top: 25px;
}
.card-body2{
    flex: 1 1 auto;
    min-height:1px;
    padding:1.25rem;
}
.group1{
	float: right;
}
.logo{
	width: 46px;
	height: 46px;
}
.group2{
	float: left;
	position: absolute;
	left: 100px;
	text-align: left;
}
.dot {
	height: 55px;
	width: 55px;
	background-color: #ddaa19;
	border-radius: 50%;
	display: inline-block;
	/* margin-right:250px; */
	margin-top: -10px;
}
  .img2{
	border-radius: 50%;
	width: 51px;
	height: 51px;
	margin-left: -10px;
	font-family: sans-serif;
}

.img3{
	border-radius: 50%;
	width: 51px;
	height: 51px;
	margin-left: -10px;
	font-family: sans-serif;
}
.teks {
	color: #f7f01c;
	font-family: monospace;
}


.card2-header {
	display: flex;
}

.card2-user {
	width: 100%;
}

.card2-user-header {
	display: flex;
	justify-content: space-between;
}



.card2-user-job {
	text-align: left;
	font-size: 12px;
}

.card2-body-review {
	margin-top: 4px;
	text-align: left;
}

.card2-body-review-date {
	margin-top: 4px;
	text-align: left;
}

.login{
	width: 10px;
	height: 10px;
}