<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Chapter 5</title>
</head>
<body>
    <h1>welcome back <%= name %> from  <%= city %> </h1>
    <form action="/register" method="post">
        <input type="email" name="email" placeholder="email" />
        <button type="submit">Submit?</button>

    </form>
</body>
</html>